<!-- title -->
<h1>Employee 데이터 삽입</h1>

<!-- employee post로 넘겨줄 때 home 화면에 넘겨줌 -->
<form name="employee" method="post" action="/">
    <div>
        <label for="fname">Fname</label>
        <input id="fname" name="fname" type="text" required placeholder="Fname">
    </div>
    <div>
        <label for="minit">Minit</label>
        <input id="minit" name="minit" type="text" placeholder="Minit">
    </div>
    <div>
        <label for="lname">lname</label>
        <input id="lname" name="lname" type="text" placeholder="Lname">
    </div>
    <div>
        <label for="ssn">Ssn</label>
        <input id="ssn" name="ssn" type="text" placeholder="Ssn">
    </div>
    <div>
        <label for="bdate">bdate</label>
        <input id="bdate" name="bdate" type="text" placeholder="Bdate">
    </div>
    <div>
        <label for="address">address</label>
        <input id="address" name="address" type="text" placeholder="Address">
    </div>
    <div>
        <label for="sex">sex</label>
        <input id="sex" name="sex" type="text" placeholder="Sex">
    </div>
    <div>
        <label for="salary">salary</label>
        <input id="salary" name="salary" type="text" placeholder="Salary">
    </div>
    <div>
        <label for="super_ssn">super_ssn</label>
        <input id="super_ssn" name="super_ssn" type="text" placeholder="Super_ssn">
    </div>
    <div>
        <label for="dno">dno</label>
        <input id="dno" name="dno" type="text" placeholder="Dno">
    </div>
    <div>
        <input type="submit" value="삽입">
    </div>
</form>

<br><br>

<!-- title -->
<h1>Department 데이터 삽입</h1>

<!-- employee post로 넘겨줄 때 home 화면에 넘겨줌 -->
<form id="employee" method="post" action='/'>
    <div>
        <label for="dno">dno</label>
        <input id="dno" name="dno" type="text" placeholder="Dno">
    </div>
    <div>
        <label for="dnumber">dnumber</label>
        <input id="dnumber" name="dnumber" type="text" placeholder="Dnumber">
    </div>
    <div>
        <label for="mgr_ssn">mgr_ssn</label>
        <input id="mgr_ssn" name="mgr_ssn" type="text" placeholder="Mgr_ssn">
    </div>
    <div>
        <label for="mgr_start_date">mgr_start_date</label>
        <input id="mgr_start_date" name="mgr_start_date" type="text" placeholder="Mgr_start_date">
    </div>
    <div>
        <input type="submit" value="삽입">
    </div>
</form>